In [1]:
#1.running instructions 
#1.a shift+enter-> run cell
#1.b ctrl+s->save
#1.c ctrl+m+b->new cell
#1.d ctrl+m+d->delete cell
#1.e shift+/->comment

In [9]:
#2 raise indentation error
#2.a error code
n=int(input("enter a number:"))
if n%2==0:
    print("even number")
else:
print("odd number")

IndentationError: expected an indented block (2993939262.py, line 7)

In [3]:
#2.b correction code
n=int(input("enter a number:"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number:4
even number

In [5]:
#3 GCD OF TWO NUMBERS
def gcd(a,b):
    if a==0:
        return b
    return gcd(b%a,a)
a=int(input("enter first number:"))
b=int(input("enter second number:"))
res1=gcd(a,b)
print(res1)

enter first number:7
enter second number:8
1

In [8]:
#4 SUM OF TWO NUMBERS
import sys
x=int(sys.argv[v])
y=int(sys.ardv[2])
sum=x+y
print(sum)

NameError: name 'v' is not defined

In [10]:
#5 EVEN OR ODD
n=int(input())
if n%2==0:
    print("it is even number")
else:
    print("odd number")

34
it is even number

In [11]:
#6 LOOPING OVER A SEQUENCE
n=int(input("enter a number:"))
for i in range(n):
    print(i,end=" ")

enter a number:6
0 1 2 3 4 5

In [13]:
#7 FIBONACCI SEQUENCE
n=int(input("enter number of terms:"))
count=0
n1=0
n2=1
while count<n:
    print(n1,end=" ")
    temp=n1+n2
    n1=n2
    n2=temp
    count+=1

enter number of terms:5
0 1 1 2 3

In [15]:
#8 PRINT ALL PRIME NUMBERS
n,m=map(int,input("enter the range:").split())
for i in range(n,m):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end=" ")

enter the range:0 20
2 3 5 7 11 13 17 19

In [17]:
#9 FINDING MEAN,MEDIAN,MODE
l=[55,342,43,55,8]
mean=sum(l)/len(l)
median=l[len(l)//2]
mode=max(set(l),key=l.count)
print(mean)
print(median)
print(mode)

100.6
43
55

In [18]:
#10 CONVERT A LIST AND TUPLE INTO ARRAY
import numpy as np
li=[2,3,5,7,89,5]
tup=(4,88,1,6,90,2)
arr=np.array(li)
arr1=np.array(tup)
print(arr)
print(arr1)

[ 2  3  5  7 89  5]
[ 4 88  1  6 90  2]

In [20]:
#11 COMMON VALUES IN TWO ARRAYS
list1=[int(x) for x in input().split()]
list2=[int(x) for x in input().split()]
common=[]
for i in list1:
    if i in list2:
        common.append(i)
print(set(common))

1 2 23
2 23 4
{2, 23}

In [21]:
#12 NUMBER OF CHARACTERS IN A STRING
dic={}
st=input()
st_li=list(st)
for i in st_li:
    if i not in dic:
        dic[i]=1
    else:
        dic[i]=dic[i]+1
print(dic)

harshitha
{'h': 3, 'a': 2, 'r': 1, 's': 1, 'i': 1, 't': 1}

In [22]:
#13 COMBINE LIST INTO DICTIONARIES
li1=[(x) for x in input("enter first list:").split()]
li2=[int(x) for x in input("enter second list:").split()]
dic={}
for i in li1:
    for j in li2:
        dic[i]=j
        li2.remove(j)
        break
print(dic)

enter first list:a b c
enter second list:1 2 3
{'a': 1, 'b': 2, 'c': 3}

In [23]:
#14 WHETHER A STRING STARTS WITH SPECIFIC CHARACTERS
st=input("enter a string:")
cha=input("enter the character:")
if(st[0]==cha):
    print("yes,!! string starts with a specified character")
else:
    print("NO,!! it will not start")

enter a string:harshitha
enter the character:h
yes,!! string starts with a specified character

In [25]:
#15 PALINDROME OR NOT
st=input("enter the string:")
st=st.lower()
rev_st=st[::-1]
if(st==rev_st):
    print("it is a palindrome")
else:
    print("it is not a plaindrome")

enter the string:rotator
it is a palindrome

In [26]:
#16 SPLIT AND JOIN A STRING
string=input("enter the string:")
st_li=string.split(" ")
res_string=".".join(st_li)
print(res_string)

enter the string:hi this is harshitha
hi.this.is.harshitha

In [27]:
#17 SORT WORDS IN ALPHABETICAL ORDER 
string=input("enter the string:")
str_li=string.split(" ")
sor_str=sorted(str_li)
print(sor_str)

enter the string:hi a bde
['a', 'bde', 'hi']

In [2]:
#18 PRINT EACH LINE OF A FILE IN REVERSE ORDER
f=open("write.txt","r")
s=""
for i in f:
    s=s+i[::-1]
print("reverse string is",s)
f.close()

reverse string is !!baL nohtyP

In [3]:
#19 NUMBER OF CHARACTERS,WORDS AMD LINES IN A FILE
f=open("file.txt","r")
s=""
for i in f:
    s=s+i
print("nuymber of characters:",len(s)-s.count(''))
print("number of words:",s.count(''))
print("number of lines:",s.count('\n'))

nuymber of characters: -1
number of words: 1
number of lines: 0

In [4]:
#20 COUNT FREQUENCY OF CHARACTERS IN A GUVEN FILE
f=open("file.txt","r")
s=""
for i in f:
    s=s+i
d={}
for i in s:
    if i in d:
        d[i]+=1
    else:
        d[i]=1
print(d)

{}

In [38]:
#21 SIMPLE CALCULATOR USING FUNCTIONS
def add(x,y):
    print(x+y)
def sub(x,y):
    print(x-y)
def mul(x,y):
    print(x*y)
def div(x,y):
    print(x/y)
print("1.addition\n2.subtraction\n3.multiplication\n4.division")
n=int(input())
x=int(input("enter the first value"))
y=int(input("enter the second value"))
if n==1:
    add(x,y)
elif n==2:
    sub(x,y)
elif n==3:
    mul(x,y)
elif n==4:
    div(x,y)
else:
    print("no option")

1.addition
2.subtraction
3.multiplication
4.division
1
enter the first value3
enter the second value4
7

In [39]:
#22 FACTORIAL OF A GIVEN NUMBER
def factorial(n):
    if(n==0):
        return 1
    elif(n==1):
        return 1
    else:
        return n*factorial(n-1)
n=int(input("enter the number:"))
result=factorial(n)
print(result)

enter the number:5
120

In [42]:
#23 FIND ALL DUPLICATES IN A LIST
def duplicate(lis):
    li_se=set(lis)
    for i in li_se:
        if(lis.count(i)>1):
            res_li.append(i)
    return res_li
li=[int(x) for x in input().split()]
res_li=[]
result=duplicate(li)
print(result)

1 5 3 1 1 8 9 5
[1, 5]

In [43]:
#24 FIND ALL THE UNIQUE ELEMENTS IN A LIST
def unique(lis):
    li_se=set(lis)
    for i in li_se:
        if(lis.count(i)==1):
            res_li.append(i)
    return res_li
li=[int(x) for x in input().split()]
res_li=[]
result=unique(li)
print(result)

1 5 1 3 7 5 2 3 9 8
[2, 7, 8, 9]

In [44]:
#25 COMPUTE CUMULATIVE PRODUCT OF A LIST OF NUMBERS
def cummulative_product(lis):
    mul=1
    for i in lis:
        mul=i*mul
    return mul
li=[int(x) for x in input().split()]
result=cummulative_product(li)
print(result)

10 4 5 8
1600

In [45]:
#26 PRINT LIST IN REVERSE ORDER
def reverse(lis):
    orgi_li=lis
    for i in range(len(orgi_li)):
        rev_lis.append(lis.pop())
    return rev_lis
li=[int(x) for x in input().split()]
rev_lis=[]
result=reverse(li)
print(result)

4 6 7 8 2 1
[1, 2, 8, 7, 6, 4]

In [46]:
#27 COMPUTE GCD,LCM OF TWO NUMBERS
def gcd(a,b):
    if a==0:
        return b
    return gcd(b%a,a)
def lcm(res1):
    return (a//res1)*b
a=int(input("enter the first  number:"))
b=int(input("enter second number:"))
res1=gcd(a,b)
res2=lcm(res1)
print(res2,res1)

enter the first  number:4
enter second number:3
12 1